@font-face {
  src: url("retro_computer_personal_use.ttf");
  font-family: retro;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: retro, sans-serif;
  scroll-behavior: smooth;
}
.home {
  background-color: #92ba92
  color: #f1ddbf
  text-align: center;
}

.art {
  background-color: #78938a
  color: #f1ddbf
  text-align: center;
}

.about {
  background-color: #525e75
  color: #f1ddbf
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}

.img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: #525e75
  color: #f1ddbf
  text-align: center;
}

.toggle {
  background-color: #525e75
  color: #f1ddbf
  text-align: center;
}

.sidebar {
  background-color: #525e75
  color: #f1ddbf
  text-align: center;
}
