@font-face {
  src: url("retro_computer_personal_use.ttf");
  font-family: retro;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: retro, sans-serif;
  scroll-behavior: smooth;
}
.outer {
  padding: 100px;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}
.outer#home {
  color: #7a5859;
  background-color: #eb9661;
}

.outer#art {
  color: #7a5859;
  background-color: #a6b04f;
}

.outer#code {
  color: #cae6d9;
  background-color: #14233a;
}

.contact {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90%;
}

.box {
  padding: 10px 10px;
  margin: 40px;
  transition: 0.5s;
  text-align: center;
  line-height: 2.3em;
}

h1 {
font-size: 40px;
}

h2 {
font-size: 30px;
}

p {
font-size: 14px;
}

img {
  width: 100%;
  height: 100%;
}